.mobile {
    width: 300px;
    height: 630px;
    background: var(--light);
    background-color: #ffffff;
    background: #fff url('https://codepenworldsfair.com/images/small-worlds-fair.png') center/250px no-repeat;
    border: 12px solid #333;
    border-radius: 36px;
    position: relative;
    overflow: hidden;
}

.mobile:before {
    content: '';
    width: 175px;
    height: 25px;
    background: #333;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1000;
}

.mobile:after {
    content: '';
    width: 100px;
    height: 5px;
    background: #333;
    border-radius: 2px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1000;
}