{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "plugins": ["@typescript-eslint", "react", "prettier"],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ],
        "prettier/prettier": "error",
        "max-len": [
            2,
            80,
            {
                "ignoreStrings": true,
                "ignoreComments": true
            }
        ],
        "import/prefer-default-export": "off",
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "react/destructuring-assignment": 0,
        "react/no-array-index-key": "off",
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": ["**/*.test.ts", "**/*.test.tsx"]
            }
        ]
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
