# Dependencies
/node_modules/
/.pnp/
.pnp.js
/.yalc/

# Testing
/coverage/

# Production
/build/
/dist*/
/src/app/

# Development
/.next/
/out/
/.idea/
/.vscode/

# Debug logs
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/.pnpm-debug.log*

# Environment
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Rust
/debug/
/target/
/backend/Cargo.lock
**/*.rs.bk
*.pdb

# Storybook
/storybook-static/

# Misc
.DS_Store
.vercel
/stats*.html
