/* Using the Inter font family v4.0.0 */

/* SANS — INTER ============================================================= */
@font-face {
    font-family : "Inter";
    src         : url("../assets/fonts/inter/Inter-Regular.woff2") format("woff2");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "Inter";
    src         : url("../assets/fonts/inter/Inter-Bold.woff2") format("woff2");
    font-weight : 700;
    font-style  : normal;
}
