#home-page {
    scroll-behavior : smooth;

    #intro-headline {
        /*background              : -webkit-linear-gradient(270deg, #adb2ff 0%, #264be1 100%);*/
        /*-webkit-background-clip : text;*/
        /*-webkit-text-fill-color : transparent;*/
        /*font-size               : 3.2rem;*/
    }

    #code-block-wrapper {
        position : relative;
    }

    #code-block-wrapper::after {
        filter     : blur(8px);
        background : rgb(131, 58, 180);
        background : linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
        position   : absolute;
        top        : -4px;
        left       : -4px;
        width      : calc(100% + 8px);
        height     : calc(100% + 8px);
        content    : "";
        z-index    : -1;
    }


    /* USP SECTION ////////////////////////////////////////////////////////// */
    #usp-section {
        position : relative;
        overflow : hidden;

        @media screen and (max-width : 600px) {
            [data-row] { gap : 12px 4px; }
        }
    }

    .usp-card {
        min-height      : 240px;
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        background      : linear-gradient(135deg, var(--usp-card-gradient-top) 24%, var(--usp-card-gradient-bottom) 80%);
        border          : 1px solid hsla(0, 0%, 80%, .08);
        backdrop-filter : blur(24px);
    }

    #fictoan-bg {
        position  : absolute;
        bottom    : -10%;
        left      : 8%;
        width     : 100%;
        height    : auto;
        z-index   : -1;
        transform : rotate(-24deg);
        opacity   : 0.16;
        filter    : saturate(150%);

        @media screen and (max-width : 900px) {
            position  : sticky;
            bottom    : 0;
            top       : unset;
            transform : scale(2) rotate(-24deg);
        }
    }

    /* MANIFESTO-CARD ======================================================= */
    #manifesto {
        position : relative;
    }

    .manifesto-card {
        position      : relative;
        min-width     : 100%;
        padding       : 2px;
        overflow      : hidden;
        height        : 320px;
        background    : linear-gradient(90deg, var(--indigo), var(--indigo-dark40));
        border-radius : 16px;
        transform     : translateZ(0);
        box-shadow    : 0 0 0 1px var(--blue),
        0 112px 107px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.27),
        0 56px 56px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.21),
        0 32px 32px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.18),
        0 24px 20px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.15),
        0 16px 12px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.14),
        0 8px 8px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.12),
        0 6px 4px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.09),
        0 2px 2px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.06);

        svg {
            position        : absolute;
            bottom          : -48px;
            right           : 40px;
            height          : 120%;
            stroke          : var(--blue);
            fill            : none;
            opacity         : 0.32;
            z-index         : -1;
            stroke-linejoin : round;
            stroke-linecap  : round;
        }
    }

    .manifesto-card-content {
        position      : relative;
        z-index       : 1;
        padding       : 32px;
        height        : 100%;
        background    : var(--indigo-dark60);
        background    : linear-gradient(0deg, rgb(27, 51, 176), rgb(0, 45, 136));
        border        : 1px solid hsla(0, 0%, 100%, .1);
        border-radius : 16px;
    }

    /* THE GLOWING BORDER */
    #manifesto-card-bg {
        position         : absolute;
        inset            : 0;
        top              : 24%;
        left             : 0;
        height           : 100%;
        background       : conic-gradient(transparent 1%, var(--blue) 80deg, transparent 100deg);
        filter           : blur(8px);
        transform-origin : center;
        /* Keyframes are defined in globals.css, doesn't work if kept here */
        animation        : border-glow -.64s linear 4s infinite;
        will-change      : transform
    }

    .gradient-bg {
        z-index         : -1;
        background      : linear-gradient(
                135deg, var(--amber), var(--green), var(--white), var(--purple), var(--red), var(--black)
        );
        background-size : 400% 400%;
        animation       : gradient 15s ease infinite;
        height          : 100%;
        display         : block;
        position        : absolute;
        top             : 0;
        left            : 0;
        width           : 100%;
    }
}
