.theme-dark {
    /* BODY ///////////////////////////////////////////////////////////////// */
    --body-bg                                 : var(--black);

    /* BODY ///////////////////////////////////////////////////////////////// */
    --callout-border-radius                   : var(--global-border-radius);
    --callout-border-width                    : var(--nano);

    --callout-info-bg                         : var(--sky-light-60);
    --callout-info-border                     : var(--sky-dark-30);

    --callout-success-bg                      : var(--green-light-40);
    --callout-success-border                  : var(--green-dark-40);

    --callout-warning-bg                      : var(--amber-light-40);
    --callout-warning-border                  : var(--amber-dark-40);

    --callout-error-bg                        : var(--red-light-40);
    --callout-error-border                    : var(--red-dark-40);

    /* CARD ///////////////////////////////////////////////////////////////// */
    --card-bg                                 : var(--grey-dark-90);
    --card-border                             : var(--slate-dark-60);
    --card-border-width                       : var(--global-border-width);
    --card-border-radius                      : 16px;

    /* BREADCRUMBS ////////////////////////////////////////////////////////// */
    --breadcrumbs-wrapper-bg                  : var(--transparent);

    --breadcrumb-item-separator               : "/";
    --breadcrumb-item-separator-colour        : var(--slate-light-10);

    --breadcrumb-item-text-colour             : var(--paragraph-text-colour);
    --breadcrumb-item-text-colour-active      : var(--paragraph-text-colour);

    /* DIVIDER ////////////////////////////////////////////////////////////// */
    --divider-height                          : 1px;

    --divider-primary-height                  : 2px;
    --divider-primary-bg                      : var(--grey-dark-20);

    --divider-secondary-height                : 2px;
    --divider-secondary-bg                    : var(--grey-dark-60);

    --divider-tertiary-height                 : 1px;
    --divider-tertiary-bg                     : var(--grey-dark-80);

    /* INPUT FIELD ////////////////////////////////////////////////////////// */
    --input-bg-default                        : var(--grey-dark-70);
    --input-border-default                    : var(--grey-dark-40);
    --input-border-radius-default             : var(--global-border-radius);
    --input-label-default                     : var(--paragraph-text-colour);
    --input-placeholder-default               : var(--red-light-60);
    --input-text-default                      : var(--slate-light-60);

    --input-bg-focus                          : var(--grey-dark-50);
    --input-border-focus                      : var(--grey-light-20);
    --input-text-focus                        : var(--grey-light-80);

    --input-bg-valid                          : var(--white);
    --input-border-valid                      : var(--green-dark-30);
    --input-label-valid                       : var(--shade);

    --input-bg-invalid                        : var(--red-light-60);
    --input-border-invalid                    : var(--red-dark-30);
    --input-label-invalid                     : var(--red);
    --input-text-invalid                      : var(--red);
    --input-error-text-invalid                : var(--red);

    --input-bg-disabled                       : var(--slate-dark-70);
    --input-border-disabled                   : var(--slate-dark-70);
    --input-label-disabled                    : var(--slate-dark-40);
    --input-text-disabled                     : var(--slate-dark-40);

    --input-bg-read-only                      : var(--slate-light-40);
    --input-border-read-only                  : var(--slate-light-40);
    --input-label-read-only                   : var(--slate-dark-40);
    --input-text-read-only                    : var(--slate-dark-60);

    --input-required-indicator                : var(--red);

    --input-helptext                          : var(--slate-dark-40);
    --input-helptext-scale                    : 92%;

    --input-icon-default                      : var(--slate-light-40);
    --input-icon-focus                        : var(--hue);
    --input-icon-valid                        : var(--green-dark-30);

    /* RADIO BUTTON ///////////////////////////////////////////////////////// */
    --radio-tabs-height                       : 32px;

    /* SIDEBAR ////////////////////////////////////////////////////////////// */
    --sidebar-bg                              : var(--grey-dark-90);
    --sidebar-header-bg                       : var(--grey-dark-90);
    --sidebar-header-border-bottom            : var(--grey-dark-60);

    --sidebar-item-icon-default-stroke-colour : var(--slate-dark-40);

    --sidebar-footer-bg                       : var(--grey-dark-90);
    --sidebar-footer-border-top               : var(--grey-dark-60);

    /* TABLE //////////////////////////////////////////////////////////////// */
    --table-bg                                : var(--slate-dark-80);
    --table-border                            : var(--slate-dark-60);
    --table-font-family                       : var(--paragraph-font);
    --table-text                              : var(--paragraph-text-colour);

    --table-striped-header-bg                 : var(--slate-dark-40);
    --table-striped-cell-bg                   : var(--slate-light-20);

    --table-bg-hover                          : var(--amber-light-20);
    --table-text-hover                        : var(--paragraph-text-colour);

    --table-pagination-bg                     : var(--white);
    --table-pagination-border-radius          : var(--global-border-radius);
    --table-pagination-text                   : var(--paragraph-text-colour);
    --table-pagination-nav-icon-bg-hover      : var(--slate-dark-60);

    /* TEXT ///////////////////////////////////////////////////////////////// */
    --font-sans-serif                         : "Inter", sans-serif;

    --paragraph-font-size                     : 1rem;
    --paragraph-line-height                   : 1.6;
    --paragraph-text-colour                   : var(--slate-dark-20);

    --heading-text-colour                     : var(--white);
    --heading-size-multiplier                 : 1.2;
    --heading-line-height                     : 1.2;

    --code-inline-bg                          : var(--slate-dark-60);
    --code-inline-text                        : var(--slate-light-40);

    --code-block-font-size                    : 0.8rem;

    /* SWITCH /////////////////////////////////////////////////////////////// */
    --switch-bg-default                       : var(--slate-dark-40);
    --switch-bg-hover                         : var(--slate-dark-20);
    --switch-bg-checked                       : var(--hue);
    --switch-bg-disabled                      : var(--slate-light-90);

    --switch-slider-bg-default                : var(--white);
    --switch-slider-bg-hover                  : var(--white);
    --switch-slider-bg-checked                : var(--white);
    --switch-slider-bg-disabled               : var(--slate-light-40);

    /* TOKENS =============================================================== */
    --token-atrule                            : var(--teal);
    --token-attrName                          : var(--orange);
    --token-attrValue                         : var(--green);
    --token-boolean                           : var(--green);
    --token-cdata                             : var(--grey);
    --token-className                         : var(--red);
    --token-comment                           : var(--grey);
    --token-constant                          : var(--green);
    --token-deleted                           : var(--slate);
    --token-delimiter                         : var(--grey);
    --token-doctype                           : var(--grey);
    --token-entity                            : var(--green);
    --token-function                          : var(--orange);
    --token-hexcode                           : var(--green);
    --token-inserted                          : var(--green);
    --token-italic                            : var(--green);
    --token-keyword                           : var(--orange);
    --token-namespace                         : var(--green);
    --token-number                            : var(--green);
    --token-operator                          : var(--pistachio);
    --token-plain                             : var(--grey);
    --token-prolog                            : var(--grey);
    --token-property                          : var(--red);
    --token-punctuation                       : var(--grey);
    --token-regex                             : var(--green);
    --token-selector                          : var(--violet);
    --token-string                            : var(--crimson);
    --token-symbol                            : var(--green);
    --token-tag                               : var(--violet-dark-60);
    --token-url                               : var(--green);
    --token-variable                          : var(--orange);

    --token-css-fallback                      : var(--red);
    --token-html-fallback                     : var(--red);
    --token-js-fallback                       : var(--red);
    --token-json-token-string                 : var(--red);

    /* ////////////////////////////////////////////////////////////////////// */
    /* CUSTOM COMPONENTS */
    /* ////////////////////////////////////////////////////////////////////// */
    --component-card-bg                       : rgba(0, 0, 0, 0.4);

    --site-header-bg                          : var(--grey-light-90);
    --site-header-border                      : var(--grey-dark-60);
}
