[data-loading-bar] {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 4px;
    background      : linear-gradient(
            to right,
            var(--hue),
            var(--accent),
            var(--shade)
    );
    background-size : 200% 100%;
    z-index         : 60000;
    transform       : translateX(-100%);
    transition      : transform 300ms ease-in-out, opacity 200ms ease-in-out;
    opacity         : 0;
}

[data-loading-bar].active {
    transform : translateX(0);
    opacity   : 1;
    animation : loading-gradient 2s linear infinite;
}

[data-loading-bar].complete {
    transform : translateX(100%);
    opacity   : 0;
}
