#site-header {
    .links-wrapper {
        display        : flex;
        flex-direction : column;
        gap            : 2px;
    }

    a {
        font-size   : 90%;
        font-weight : normal;
        color       : var(--paragraph-text-colour);
    }

    input {
        padding   : 6px 12px;
        font-size : 14px;
    }
}
